// Colours
$color-dark-green: #496434;
$color-medium-green: #658147;
$color-light-green: #669453;
$color-light-grey: #f7f7f7;
$color-grey: #777;
$color-black: #000;
$color-white: #FFF;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;