// Colours
$dark-green: #496434;
$medium-green: #658147;
$light-green: #669453;
$light-grey: #f7f7f7;
$grey: #777;
$black: #000;
$white: #FFF;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;