//Colours
$color-dark-green: #45b649;
$color-medium-green: #658147;
$color-light-green: #afe35b;
$color-light-grey: #f7f7f7;
$color-grey: #777;
$color-black: #000;
$color-white: #FFF;
$color-light-blue: #0575E6;
$color-dark-blue: #021B79;
$color-light-red: #ff7056;
$color-dark-red: #e73827;


//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;