.popup {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        position: absolute;
        width: 70%;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black, .4);
        overflow: hidden;
        display: table;
    }

    &__left {
        width: 33.33%;
        display: table-cell;
    }

    &__right {
        width: 66.67%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 1.4rem;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey;
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
}