.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem 6rem;
    font-size: $default-font-size;
    transform: skewX(-13deg);

    &__shape {
        float: left;
        width: 15rem;
        height: 15rem;
        --webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        --webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1.5rem) skewX(13deg);
        position: relative;

    }

    &__text {
        transform: skewX(13deg);
    }

    &__img {
        height: 100%;
        transform: scale(1);
    }

    &__caption {
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        font-size: 1.8rem;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: scale(1.2);
        filter: blur(3px) brightness(80%);
    }
}